<nav id="navbar" class="navbar order-last order-lg-0">
    <ul>
        @if (ViewBag.loginUser == "admin")
        {
            <li><a class="nav-link scrollto active" asp-controller="Management" asp-action="Index">Home</a></li>
            <li class="dropdown">
                <a><span>Patients</span> <i class="bi bi-chevron-down"></i></a>
                <ul>

                    <li><a asp-controller="Patient" asp-action="AddPatient">Add Patient Record</a></li>
                    <li><a asp-controller="Patient" asp-action="UpdatePatient">Update Patient Record</a></li>
                    <li><a asp-controller="Patient" asp-action="PatientList">View Patient Records</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#"><span>Visits</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a asp-controller="Visit" asp-action="AddVisit">Add Visit Record</a></li>
                    <li><a asp-controller="Visit" asp-action="ViewVisit">View Visit Records</a></li>

                </ul>
            </li>
        }




        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <li class="nav-item dropdown pe-3">

            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <i style="padding:5px 40px 5px" class="fas fa-user"></i>
            </a><!-- End Profile Iamge Icon -->

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                    @if (ViewBag.loginUser == "admin")
                    {
                        <h6>Semofor Hospital</h6>
                        <span>Admin</span>
                    }
                    else
                    {
                        <h6>@ViewBag.username</h6>
                        <span>Patient</span>
                    }

                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>


                <li>
                    <a class="dropdown-item d-flex align-items-center" href="/Home/Index">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Log Out</span>
                    </a>
                </li>

            </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>


</nav><!-- .navbar -->